
{% extends 'sfm_music/base.html' %}

{% block sfm_title %}
Index
{% endblock %}

{% block sfm_staticfiles %}
	{% load staticfiles %}
	<link type="text/css" rel="stylesheet" href="{% static '/css/index.css' %}">
{% endblock %}

{% block sfm_body %}
	{% for netease in all_netease %}
	<ul>
		<li>
			<a href="{% url 'music:detail' netease.id %}">{{ netease.title }}</a>&nbsp;
			
			<!-- Update -->
			<form action="{% url 'music:netease-update' netease.id %}" method="post" style="display:inline;">
				{% csrf_token %}
				<button type="submit" class="btn btn-default">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
			</form>

			<!-- Update -->
			<form action="{% url 'music:netease-delete' netease.id %}" method="post" style="display:inline;">
				{% csrf_token %}
				<button type="submit" class="btn btn-default">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</form>
			
		</li>
	</ul>
	{% endfor %}
{% endblock %}
